.tuibutton{
    width: 5rem;
    height: 1.5rem;
    position: fixed;
    bottom: 0px;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    background-color: white;
    border:none;
    cursor:pointer;
}
